@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CENTRIC</h1>
    <p class="lead"></p>
    
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Navigation Help</h2>
        <p>
            <li>@Html.ActionLink("Core Values", "About", "Home")</li> 
            <li>@Html.ActionLink("Contact Information", "Contact", "Home")</li> 
        </p>
        
    </div>
    <div class="col-md-6">
        <h2>Centric Consulting Team</h2>
        <p>
            Product Owner: David Blocher <br />
            Scrum Team: Sydney Kovach, Parker Cantwell, Cullen Nagle, Tony Caraffi <br />
            (Must use valid Log-In in order to view)

        </p>
        <p><a class="btn btn-default" href="https://trello.com/b/UGm1ilY6/team-8">Team Trello Board &raquo;</a></p>
    </div>
   
</div>