@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>

<body>

    <div class="jumbotron text-center">

        <style>
            .jumbotron {
                background-color: transparent; /* Orange */
                color: #000000;
                padding: 100px 25px;
                
            }
        </style>

        <h1>Centric Consulting Project</h1>
        <h2> </h2>
        <p class="lead"></p>

    </div>

    


</body>
</html>